.complete-task-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 89.692vh;
    overflow: hidden;
}

.complete-task-segment{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px){
    .complete-task-block{
        grid-template-columns: 1fr;
    }
}
