.todo-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: .5rem 0;
    height: 88vh;
    overflow: hidden;
}

input, textarea{
    width: 100%;
    padding: .2rem .3rem;
}

.todo-title{}
.todo-desc{}
.todo-btn{}

.form-block{
    padding: 0 .5rem;
    height: fit-content;
}

.form-block:first-child{
    margin-bottom: 1rem;
}

.form-block:last-child{
    margin-top: 1rem;
}

@media only screen and (max-width: 1024px){
    .todo-grid{
        grid-template-columns: 1fr;
    }
}